html {
  font-family: 'Lato', sans-serif;
  background-image: url('./img/background.webp');
}

.header {
  position: sticky;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 5em;
}

#header-inDev {
  margin: 1em;
}
