html {
  background-image: url('../img/background.webp');
  font-family: 'Lato', sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}

.content {
  text-align: center;
  margin-top: 10em;
}

.header {
  position: sticky;
}

.footer {
  width: 100%;
  text-align: center;
  margin-bottom: 5em;
}

#header-inDev {
  margin: 1em;
}
